parameters:
    # Level 1 ist super für den Einstieg (prüft grundlegende Fehler und Typen)
    level: 5

    paths:
        - lib

    ignoreErrors:
            - '#OCA\\DAV\\#'

    reportUnmatchedIgnoredErrors: false

    bootstrapFiles:
            - vendor/autoload.php